.sidebar{
    background-image: linear-gradient(40deg,  #da4747, #d84e36);
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
}
.sidebar li:hover span{
    display: inline-block;
    transform: translate(5px);
}
.sidebar svg{
    margin-right: 2px;
}